
@using ProductManagement.Web.Models.Common.Modals
@using ProductManagement.Web.Models.Categories
@model EditCategoryModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(("EditCategory")))
<form name="CategoryEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.category.Id" />
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#edit-category-details">("CategoryDetails")</a>
            </li>
          </ul>
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="edit-category-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="categoryName">@L("CategoryName")</label>
                    <div class="col-md-9">
                        <input id="categoryName" type="text" class="form-control" name="categoryName" value="@Model.category.CategoryName" >
                    </div>
                </div>
                          </div>
          </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Categories/_EditModal.js" asp-append-version="true"></script>
